@use "./base/normalize";
@use "./base/fonts";
@use "./base/variables";
@use "./base/utils";
@use "./base/globals";

@use "blocks/icon";
@use "blocks/logo";
@use "blocks/button";
@use "blocks/burger-button";
@use "blocks/header";
@use "blocks/news";
